@media (min-width: 360px) and (max-width: 640px){
  .menu {
  order:1;
  width: 100%;
  }
  .menu_list {
      justify-content: flex-end;
  }
  .menu_item {
    display:none;
  }
  .menu_burger {
    display: block;
  }
header {
  background-image: url(../img/banner-mobile.jpg);
  height: 100vh;
}
.head {
    padding-top: 36px;
    height: 100vh;
    flex-direction: row;
    justify-content: flex-end;
    align-items: start;
    align-self: center;
    align-content: start;
}
.logo {
  margin: 30vh auto 24px auto;
  width: 225px;
  height: 45px;
  order: 2;
}
.header_text {
  width: 80%;
  margin: auto;
  font-size: 26px;
    padding: 0;
      line-height: 36px;
}
.header_title {
  order:3;
}
}
